$colour-primary: #55c57a;
$colour-primary-light: #7ed56f;
$colour-primary-dark: #28b485;
$colour-gray: #777;
$colour-black : #000;
$colour-white: #ffffff;
$colour-grey-light-1:#f7f7f7;
$colour-grey-light-2: #eee;

$colour-secondary-light:#ffb900;
$colour-secondary-dark:#ff7730;

$colour-tertiory-light:#2998ff;
$colour-tertiory-dark:#5643fa;


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//fonts
$default-font-size: 1.6rem;